@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: rgb(245, 245, 245);
  margin: 0;
  padding: 0;
}

/* Header */

header {
  background-color: rgb(255, 0, 51);

  /* Make it a flex-item */
  /* display: flex; */

  /* Make header fixed */
  position: fixed;
  top: 0;
  width: 100vw;
  height: 5vh;
  margin: 0;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 3%;
}

.logo-text {
  font-size: 1.2em;
  font-weight: bold;
  color: white;
}

.search {
  display: inline-block;
  width: 60%;
}

.search-form {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.search-input {
  width: 30%;
  border: 1px solid white;
  border-radius: 4px;
  background-color: rgb(255, 0, 51);
  padding: 0.5em 0 0.5em 0;
  transition: width 0.4s ease-in-out;
  padding: 5px;

  font-size: 12px;
  color: white;
}

.search-input:focus {
  width: 90%;
  outline-width: 0;
}

.search-button {
  display: inline-block;
  justify-content: center;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  background-color: rgb(255, 0, 51);
  margin-left: 10px;
  padding: 0.36em;
}

.search-icon {
  width: 1em;
  height: 0.9em;
}

::-webkit-input-placeholder {
  /* Edge */
  color: white;
}

::placeholder {
  color: white;
}

.menu-container {
  display: flex;
}

.live-button {
  display: inline-block;
  justify-content: center;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  background-color: rgb(255, 0, 51);
  margin-right: 20px;
  padding: 0.36em;
}
/* TODO: make live button wider or adjust for mobile as currently expanding navbar on mobile */

.profile-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
}

/* Container w/ all content */

.content {
  margin-top: 5vh;
  overflow: hidden;
}

/* Homepage & broadcast tiles */

.homepage {
  /* To evenly space broadcast tiles */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2%;
}

.broadcast-tile {
  width: 32%;
  padding-bottom: 6%;
  margin-bottom: 2%;
}

.broadcast-thumb {
  width: 100%;
  height: 100%;
  padding-top: 43.25%;
}

.broadcast-details {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
}

.broadcast-profilepic img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.broadcast-title-owner {
  margin-left: 3%;
}

.broadcast-link {
  display: block;
}

/* Broadcast page */

.broadcastFormContainer {
  margin-top: 7vh;
  margin-left: 2vw;
}

.broadcast {
  height: 95vh;
  display: flex;
  /* flex-wrap: wrap; */
}
/* TODO: add flex wrap for mobile as screen shrinks to wrap chatbox under broadcast*/

.videoplayer {
  width: 80vw;
}

.chat {
  width: 20vw;
  height: 100vh;
  background-color: white;
}

#chatList {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 150%;
  word-wrap: break-word;
  list-style-type: none;
  padding: 4%;
  height: 91vh;
  overflow: scroll;
}

.guest {
  width: 100%;
  font-weight: 600;
  color: rgb(145, 26, 26);
}

.user {
  font-weight: 600;
  color: rgb(255, 0, 51);
}

.chatInputWrapper {
  display: flex;
  flex-direction: row;
}

#chatForm {
  width: 100%;
}
/* TODO: make responsive for mobile as currently on smallest screen will float above chat text */

#chatInput {
  border: 1px solid rgb(255, 0, 51);
  width: 100%;
  height: 4vh;
}

#chatButton {
  width: 30%;
  color: white;
  background-color: rgb(255, 0, 51);
  padding: 0;
  border: none;
}

@media (max-width: 600px) {
  .broadcast {
    flex-wrap: wrap;
  }
  .videoplayer {
    width: 100vw;
    height: 60vh;
  }

  .chat {
    height: 30vh;
    width: 100vw;
    overflow: scroll;
  }
}
/* TODO: change vh for videoplayer to make responsive at different screen sizes */
